name: Ensure revision date has been updated
on:
  pull_request:
    paths:
      - '**/*.md'
      - '!**/index.md'
      - '!**/README.md'
      - '!**/LICENSE*'
    branches-ignore:
      - gh-pages
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  ensure-revdate:
    name: Check for revdate update
    runs-on: ubuntu-latest
    if: !github.event.pull_request.draft

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for revdate in diff
        shell: bash
        env:
          BASE: ${{ github.event.pull_request.base.sha }}
        run: |
          git diff --diff-filter=ad -U1000000 "$BASE" HEAD -- '*.md' | egrep '^[+-]revdate:'
